@page "/"
@attribute [TabItemOption(Text = "Index", Icon = "fa-solid fa-fw fa-home text-success", Closable = false)]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
